@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext);

*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

.wrapper {
	margin-top: 15px;
}

.portrait {
   margin-bottom: 15px;
}
